/**
 * notes:
 * dark theme selector suffix -> :-moz-lwtheme-brighttext
 * 
 * tags:
 * #nav-bar 
 * #PersonalToolbar 
 */

/* ====== MIXINS ====== */

@mixin rounded-corners {
  border-radius: 8px !important;
}

/* ====== VIBRANCY ====== */

#main-window {
  background: transparent !important;
}

#navigator-toolbox {
  background-color: transparent !important;
}

#titlebar {
  -moz-appearance: -moz-mac-vibrant-titlebar-light !important;
  -moz-font-smoothing-background-color: -moz-mac-vibrant-titlebar-light !important;

  &:-moz-lwtheme-brighttext {
    -moz-appearance: -moz-mac-vibrant-titlebar-dark !important;
    -moz-font-smoothing-background-color: -moz-mac-vibrant-titlebar-dark !important;
  }
}

/* ====== TABS ====== */

.tabbrowser-tab {
  .tab-stack {
    .tab-background {
      @include rounded-corners;
      transition: background-color 0.3s ease;

      &[selected="true"] {
        box-shadow: 0.8px 0.8px 1px hsla(0, 0%, 60%, 0.35) !important;
      }

      &:not([selected="true"]:not([pinned])) {
        opacity: 0.5;
      }

      &:-moz-lwtheme-brighttext {
        &[selected="true"] {
          box-shadow: 0.8px 0.8px 2px hsla(0, 0%, 10%, 0.90) !important;
        }
      }
    }

    .tab-icon-image {
      filter: grayscale(100%) !important;
      transition: filter 0.3s ease;

      &[selected="true"] {
        filter: grayscale(0%) !important;
      }
    }
  }

  &:hover {
    .tab-icon-image {
      &:not([selected="true"]) {
        filter: grayscale(50%) !important;
      }
    }
  }
}

.tab-close-button {
  transition: all 0.3s ease !important;
  @include rounded-corners;
}

#tabs-newtab-button {
  .toolbarbutton-icon {
    @include rounded-corners;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
}
